{% extends 'base.html.twig' %}

{% block title %}CJPG? - Tirages Euromillions{% endblock %}

{% block body %}
    <main>
        <table class="min-w-full text-center text-sm font-light">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(allDrawsEuromillions, 'Tirage n°', 'a.id') }}</th>
                    <th>{{ knp_pagination_sortable(allDrawsEuromillions, 'Jour', 'a.drawDay') }}</th>
                    <th>{{ knp_pagination_sortable(allDrawsEuromillions, 'Date de tirage', ['a.drawDate']) }}</th>
                    <th>{{ knp_pagination_sortable(allDrawsEuromillions, 'Boules dans l\'ordre de tirage', ['a.ascendingWinningBalls']) }}</th>
                    <th>{{ knp_pagination_sortable(allDrawsEuromillions, 'Etoiles dans l\'ordre de tirage', ['a.ascendingWinningStars']) }}</th>
                </tr>
            </thead>
            <tbody>
            {% for draw in allDrawsEuromillions %}
                <tr>
                    <td>{{ draw.id }}</td>
                    <td>{{ draw.drawDay }}</td>
                    <td>{{ draw.drawDate | date('d/m/Y') }}</td>
                    <td>{{ draw.ascendingWinningBalls }}</td>
                    <td>{{ draw.ascendingWinningStars }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">{{ knp_pagination_render(allDrawsEuromillions) }}</td>
                    <td><p> Total: {{ allDrawsEuromillions.getTotalItemCount }} tirages.</p></td>
                </tr>
            </tfoot>
        </table>
    </main>
{% endblock %}
