<header id="body-header">
    <nav id="nav-header">
        <h1><a id="site-title" href="{{ path('home') }}">cjpg?</a></h1>
        <a href="{{ path('grid_loto') }}">testez vos numéros loto</a>
        <a href="{{ path('grid_euromillions') }}">testez vos numéros euromillions</a>
{#        <a href="{{ path('app_draw_loto') }}">chercher un tirage loto</a>#}
{#        <a href="{{ path('app_search_euromillions') }}">chercher un tirage euromillions</a>#}
    </nav>
</header>