{#
{% extends 'base.html.twig' %}

{% block title %}Résultats de votre grille Euromillions - CJPG?{% endblock %}
#}

{% block body %}
    <main>
        {#    {{ dump(app.session.get('groupResult')) }}#}
        {% for result in app.session.get('groupResult') %}
            {{ dump(result) }}
        {% endfor %}
        {#<table class="userResultTable">
        <thead>
            <tr>
                <th>Tirage<br>n°</th>
                <th>Jour</th>
                <th>Date</th>
                <th>Boule<br>N°1</th>
                <th>Boule<br>N°2</th>
                <th>Boule<br>N°3</th>
                <th>Boule<br>N°4</th>
                <th>Boule<br>N°5</th>
                <th>Etoile<br>N°1</th>
                <th>Etoile<br>N°2</th>
                <th>Boules<br>gagnantes</th>
                <th>Etoiles<br>gagnantes</th>
                <th>Gagnants<br>au rang 1<br>en France</th>
                <th>Gagnants<br>au rang 1<br>en Europe</th>
                <th>Montant<br>de la cagnotte<br>(si remporter)</th>
            </tr>
        </thead>
        <tbody>
        {% for result in app.session.get('resultsGroup') %}
            <tr>
                <td>{{ result.completeDraw.id }}</td>
                <td>{{ result.completeDraw.drawDay }}</td>
                <td>{{ result.completeDraw.drawDate|date('d/m/Y') }}</td>
                <td>
                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                    {% if result.userCommonBallsArray is defined %}
                        {% if result.completeDraw.ball1 in result.userCommonBallsArray %}
                            {% set classWinloose = 'table-win_balls-euromillions' %}
                        {% endif %}
                    {% endif %}
                    <div class="{{ classWinloose }}">
                        <p>{{ result.completeDraw.ball1 }}</p>
                    </div>
                </td>
                <td>
                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                    {% if result.userCommonBallsArray is defined %}
                        {% if result.completeDraw.ball2 in result.userCommonBallsArray %}
                            {% set classWinloose = 'table-win_balls-euromillions' %}
                        {% endif %}
                    {% endif %}
                    <div class="{{ classWinloose }}">
                        <p>{{ result.completeDraw.ball2 }}</p>
                    </div>
                </td>
                <td>
                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                    {% if result.userCommonBallsArray is defined %}
                        {% if result.completeDraw.ball3 in result.userCommonBallsArray %}
                            {% set classWinloose = 'table-win_balls-euromillions' %}
                        {% endif %}
                    {% endif %}
                    <div class="{{ classWinloose }}">
                        <p>{{ result.completeDraw.ball3 }}</p>
                    </div>
                </td>
                <td>
                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                    {% if result.userCommonBallsArray is defined %}
                        {% if result.completeDraw.ball4 in result.userCommonBallsArray %}
                            {% set classWinloose = 'table-win_balls-euromillions' %}
                        {% endif %}
                    {% endif %}
                    <div class="{{ classWinloose }}">
                        <p>{{ result.completeDraw.ball4 }}</p>
                    </div>
                </td>
                <td>
                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                    {% if result.userCommonBallsArray is defined %}
                        {% if result.completeDraw.ball5 in result.userCommonBallsArray %}
                            {% set classWinloose = 'table-win_balls-euromillions' %}
                        {% endif %}
                    {% endif %}
                    <div class="{{ classWinloose }}">
                        <p>{{ result.completeDraw.ball5 }}</p>
                    </div>
                </td>
                <td>
                    {% set classWinloose = 'table-loose_stars' %}
                    {% if result.userCommonStarsArray is defined %}
                        {% if result.completeDraw.star1 in result.userCommonStarsArray %}
                            {% set classWinloose = 'table-win_stars' %}
                        {% endif %}
                    {% endif %}
                    <div class="{{ classWinloose }}">
                        <p>{{ result.completeDraw.star1 }}</p>
                    </div>
                </td>
                <td>
                    {% set classWinloose = 'table-loose_stars' %}
                    {% if result.userCommonStarsArray is defined %}
                        {% if result.completeDraw.star2 in result.userCommonStarsArray %}
                            {% set classWinloose = 'table-win_stars' %}
                        {% endif %}
                    {% endif %}
                    <div class="{{ classWinloose }}">
                        <p>{{ result.completeDraw.star2 }}</p>
                    </div>
                </td>
                <td>{{ result.completeDraw.ascendingWinningBalls | trim('-') }}</td>
                <td>{{ result.completeDraw.ascendingWinningStars | trim('-') }}</td>
                <td>{{ result.completeDraw.numberOfWinnerInRank1InFrance }}</td>
                <td>{{ result.completeDraw.numberOfWinnerInRank1InEurope }}</td>
                <td>{{ result.completeDraw.rankReport1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}
    </main>
{% endblock %}