{% extends 'base.html.twig' %}

{% block title %}Résultats de votre grille Euromillions - CJPG?{% endblock %}

{% block body %}
    <main>
        {{ component('card_user_selection_euromillions', {
            userSelection: userSelection,
        }) }}
{#        {{ dump(userSelectionResults) }}#}
        {% set groupLi = [] %}
        {% set groupDiv = [] %}
        {% for key, groupResult in userSelectionResults %}
            {% set countTheadResult = groupResult|length %}
            {% set divBall %}
                <div class="table_icon-ball-euromillions"></div>
            {% endset %}
            {% set divStar %}
                <div class="table_icon-star"></div>
            {% endset %}
            {% if key|length == 9 %}
                {% set countBalls = key|slice(6, 1) %}
                {% set countStars = key|slice(8, 1) %}
                {% set thResults %}
                    <th colspan="15">
                        <div>
                            <p>{{ countTheadResult }} tirages avec {{ countBalls }} {{ divBall }} + {{ countStars }} {{ divStar }}</p>
                        </div>
                    </th>
                {% endset %}
                {% set liP %}
                    <div class="flex flex-nowrap justify-center">{{ countBalls }} {{ divBall }} <p>+</p> {{ countStars }} {{ divStar }}</div>
                    <div>{{ countTheadResult }} tirages</div>
                {% endset %}
            {% elseif key|length == 7 %}
                {% set countBalls = key|slice(6, 1) %}
                {% set thResults %}
                    <th colspan="15">
                        <div>
                            <p>{{ countTheadResult }} tirages avec {{ countBalls }} {{ divBall }}</p>
                        </div>
                    </th>
                {% endset %}
                {% set liP %}
                    <div class="flex flex-nowrap justify-center">{{ countBalls }} {{ divBall }}</div>
                    <div>{{ countTheadResult }} tirages</div>
                {% endset %}
            {% else %}
                {% set countStars = key|slice(7, 1) %}
                {% set thResults %}
                    <th colspan="15">
                        <div>
                            <p>{{ countTheadResult }} tirages avec {{ countStars }} {{ divStar }}</p>
                        </div>
                    </th>
                {% endset %}
                {% set liP %}
                    <div class="flex flex-nowrap justify-center">{{ countStars }} {{ divStar }}</div>
                    <div>{{ countTheadResult }} tirages</div>
                {% endset %}
            {% endif %}
            {% set tableResults %}
                <table class="userResultTable">
                    <thead>
                    <tr class="euromillions-resultTitleRow">
                        {{ thResults }}
                    </tr>
                    <tr>
                        <th>Tirage<br>n°</th>
                        <th>Jour</th>
                        <th>Date</th>
                        <th>Boule<br>N°1</th>
                        <th>Boule<br>N°2</th>
                        <th>Boule<br>N°3</th>
                        <th>Boule<br>N°4</th>
                        <th>Boule<br>N°5</th>
                        <th>Etoile<br>N°1</th>
                        <th>Etoile<br>N°2</th>
                        <th>Boules<br>gagnantes</th>
                        <th>Etoiles<br>gagnantes</th>
                        <th>Gagnants<br>au rang 1<br>en France</th>
                        <th>Gagnants<br>au rang 1<br>en Europe</th>
                        <th>Montant<br>de la cagnotte<br>(si remporter)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in groupResult %}
                        <tr>
                            <td>{{ result.completeDraw.id }}</td>
                            <td>{{ result.completeDraw.drawDay }}</td>
                            <td>{{ result.completeDraw.drawDate|date('d/m/Y') }}</td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball1 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball1 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball2 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball2 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball3 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball3 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball4 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball4 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball5 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball5 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_stars' %}
                                {% if result.userCommonStarsArray is defined %}
                                    {% if result.completeDraw.star1 in result.userCommonStarsArray %}
                                        {% set classWinloose = 'table-win_stars' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.star1 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_stars' %}
                                {% if result.userCommonStarsArray is defined %}
                                    {% if result.completeDraw.star2 in result.userCommonStarsArray %}
                                        {% set classWinloose = 'table-win_stars' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.star2 }}</p>
                                </div>
                            </td>
                            <td>{{ result.completeDraw.ascendingWinningBalls | trim('-') }}</td>
                            <td>{{ result.completeDraw.ascendingWinningStars | trim('-') }}</td>
                            <td>{{ result.completeDraw.numberOfWinnerInRank1InFrance }}</td>
                            <td>{{ result.completeDraw.numberOfWinnerInRank1InEurope }}</td>
                            <td>{{ result.completeDraw.rankReport1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endset %}
            {% if countBalls is defined and countStars is defined %}
                {% set countBalls = key|slice(6, 1) %}
                {% set countStars = key|slice(8, 1) %}
                {% set href %}
                    href="#tabs-for{{ countBalls }}b{{ countStars }}s02"
                {% endset %}
                {% set dTarget %}
                    data-te-target="#tabs-for{{ countBalls }}b{{ countStars }}s02"
                {% endset %}
                {% set aControls %}
                    aria-controls="tabs-for{{ countBalls }}b{{ countStars }}s02"
                {% endset %}
                {% set divId %}
                    id="tabs-for{{ countBalls }}b{{ countStars }}s02"
                {% endset %}
                {% set ariaLabel %}
                    aria-labelledby="tabs-for{{ countBalls }}b{{ countStars }}s-tab02"
                {% endset %}
                {% if groupLi is empty %}
                    {% set linkRef %}
                        {{ href }}
                        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        data-te-nav-active
                        role="tab"
                        {{ aControls }}
                        aria-selected="true"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                        data-te-tab-active
                    {% endset %}
                {% else %}
                    {% set linkRef %}
                        {{ href }}
                        class="focus:border-transparent my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        role="tab"
                        {{ aControls }}
                        aria-selected="false"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                    {% endset %}
                {% endif %}
                {% set liLink %}
                    <li role="presentation" class="mx-2 flex-grow basis-0 text-center leading-tight text-neutral-800 dark:text-neutral-50 bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <a {{ linkRef }}>
                            <div class="w-max text-xl leading-tight text-neutral-800 dark:text-neutral-50">
                                {{ liP }}
                            </div>
                        </a>
                    </li>
                {% endset %}
                {% set grDiv %}
                    <div {{ divRef }}>
                        {{ tableResults }}
                    </div>
                {% endset %}
            {% elseif countBalls is defined and countStars is not defined %}
                {% set countBalls = key|slice(6, 1) %}
                {% set href %}
                    href="#tabs-for{{ countBalls }}b02"
                {% endset %}
                {% set dTarget %}
                    data-te-target="#tabs-for{{ countBalls }}b02"
                {% endset %}
                {% set aControls %}
                    aria-controls="tabs-for{{ countBalls }}b02"
                {% endset %}
                {% set divId %}
                    id="tabs-for{{ countBalls }}b02"
                {% endset %}
                {% set ariaLabel %}
                    aria-labelledby="tabs-for{{ countBalls }}b-tab02"
                {% endset %}
                {% if groupLi is empty %}
                    {% set linkRef %}
                        {{ href }}
                        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        data-te-nav-active
                        role="tab"
                        {{ aControls }}
                        aria-selected="true"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                        data-te-tab-active
                    {% endset %}
                {% else %}
                    {% set linkRef %}
                        {{ href }}
                        class="focus:border-transparent my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        role="tab"
                        {{ aControls }}
                        aria-selected="false"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                    {% endset %}
                {% endif %}
                {% set liLink %}
                    <li role="presentation" class="mx-2 flex-grow basis-0 text-center leading-tight text-neutral-800 dark:text-neutral-50 bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <a {{ linkRef }}>
                            <div class="w-max text-xl leading-tight text-neutral-800 dark:text-neutral-50">
                                {{ liP }}
                            </div>
                        </a>
                    </li>
                {% endset %}
                {% set grDiv %}
                    <div {{ divRef }}>
                        {{ tableResults }}
                    </div>
                {% endset %}
            {% elseif countBalls is not defined and countStars is defined %}
                {% set countStars = key|slice(7, 1) %}
                {% set href %}
                    href="#tabs-for{{ countStars }}s02"
                {% endset %}
                {% set dTarget %}
                    data-te-target="#tabs-for{{ countStars }}s02"
                {% endset %}
                {% set aControls %}
                    aria-controls="tabs-for{{ countStars }}s02"
                {% endset %}
                {% set divId %}
                    id="tabs-for{{ countStars }}s02"
                {% endset %}
                {% set ariaLabel %}
                    aria-labelledby="tabs-for{{ countStars }}s-tab02"
                {% endset %}
                {% if groupLi is empty %}
                    {% set linkRef %}
                        {{ href }}
                        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        data-te-nav-active
                        role="tab"
                        {{ aControls }}
                        aria-selected="true"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                        data-te-tab-active
                    {% endset %}
                {% else %}
                    {% set linkRef %}
                        {{ href }}
                        class="focus:border-transparent my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        role="tab"
                        {{ aControls }}
                        aria-selected="false"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                    {% endset %}
                {% endif %}
                {% set liLink %}
                    <li role="presentation" class="mx-2 flex-grow basis-0 text-center leading-tight text-neutral-800 dark:text-neutral-50 bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <a {{ linkRef }}>
                            <div class="w-max text-xl leading-tight text-neutral-800 dark:text-neutral-50">
                                {{ liP }}
                            </div>
                        </a>
                    </li>
                {% endset %}
                {% set grDiv %}
                    <div {{ divRef }}>
                        {{ tableResults }}
                    </div>
                {% endset %}
            {% endif %}
            {% set resultsCount = groupResult|length %}

            {% set groupLi = groupLi|merge([liLink]) %}
            {% set groupDiv = groupDiv|merge([grDiv]) %}
        {% endfor %}
        <section class="flex flex-wrap justify-center">
            <ul
                class="mb-5 flex list-none flex-row flex-wrap justify-center border-b-0 pl-0"
                role="tablist"
                data-te-nav-ref
            >
                {% for li in groupLi %}
                    {{ li }}
                {% endfor %}
            </ul>
            <div class="mb-6">
                {% for div in groupDiv %}
                    {{ div }}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
