{% extends 'base.html.twig' %}

{% block title %}Résultats de votre grille Euromillions - CJPG?{% endblock %}

{% block body %}
    <main>
        {{ component('card_user_selection_euromillions', {
            userSelection: userSelection,
        }) }}
        {% set groupLi = [] %}
        {% set groupDiv = [] %}
        {% for key, groupResult in userSelectionResults %}
            {% set countTheadResult = groupResult|length %}
            {% set divBall %}
                <div class="table_icon-ball-euromillions"></div>
            {% endset %}
            {% set divStar %}
                <div class="table_icon-star"></div>
            {% endset %}
            {% if key|length == 9 %}
                {% set countBalls = key|slice(6, 1) %}
                {% set countStars = key|slice(8, 1) %}
                {% set liP %}
                    <div class="mb-6 flex flex-nowrap justify-center">
                        {{ countTheadResult }} tirages pour {{ countBalls }} {{ divBall }} <p>+</p> {{ countStars }} {{ divStar }}
                    </div>
                    {{ component('results_group_stats', {
                        userSelection: userSelection,
                        groupResult: groupResult,
                    }) }}
                {% endset %}
            {% elseif key|length == 7 %}
                {% set countBalls = key|slice(6, 1) %}
                {% set liP %}
                    <div class="mb-6 flex flex-nowrap justify-center">
                        {{ countTheadResult }} tirages pour {{ countBalls }} {{ divBall }}
                    </div>
                    {{ component('results_group_stats', {
                        userSelection: userSelection,
                        groupResult: groupResult,
                    }) }}
                {% endset %}
            {% else %}
                {% set countStars = key|slice(7, 1) %}
                {% set liP %}
                    <div class="mb-6 flex flex-nowrap justify-center">
                        {{ countTheadResult }} tirages pour {{ countStars }} {{ divStar }}
                    </div>
                    {{ component('results_group_stats', {
                        userSelection: userSelection,
                        groupResult: groupResult,
                    }) }}
                {% endset %}
            {% endif %}
            {% if countTheadResult > 20 %}
                {% set tableResults %}
                    <table class="min-w-full border text-center text-sm font-light dark:border-neutral-500">
                        <thead class="border-b font-medium dark:border-neutral-500">
                            <tr>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.id') }}Tirage<br>n°</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.drawDay') }}Jour</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.drawDate') }}Date</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.ball1') }}Boule<br>N°1</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.ball2') }}Boule<br>N°2</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.ball3') }}Boule<br>N°3</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.ball4') }}Boule<br>N°4</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.ball5') }}Boule<br>N°5</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.star1') }}Etoile<br>N°1</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.star2') }}Etoile<br>N°2</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.ascendingWinningBalls') }}Boules<br>gagnantes</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.ascendingWinningStars') }}Etoiles<br>gagnantes</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.numberOfWinnerInRank1InFrance') }}Gagnants<br>au rang 1<br>en France</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.numberOfWinnerInRank1InEurope') }}Gagnants<br>au rang 1<br>en Europe</th>
                                <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">{{ knp_pagination_sortable(userSelectionResultsPagination[key], '', 'a.rankReport1') }}Montant<br>de la cagnotte<br>(si remporter)</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for result in userSelectionResultsPagination[key] %}
                            <tr class="border-b dark:border-neutral-500">
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.id }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.drawDay }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.drawDate|date('d/m/Y') }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                                    {% if result.userCommonBallsArray is defined %}
                                        {% if result.completeDraw.ball1 in result.userCommonBallsArray %}
                                            {% set classWinloose = 'table-win_balls-euromillions' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ result.completeDraw.ball1 }}</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                                    {% if result.userCommonBallsArray is defined %}
                                        {% if result.completeDraw.ball2 in result.userCommonBallsArray %}
                                            {% set classWinloose = 'table-win_balls-euromillions' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ result.completeDraw.ball2 }}</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                                    {% if result.userCommonBallsArray is defined %}
                                        {% if result.completeDraw.ball3 in result.userCommonBallsArray %}
                                            {% set classWinloose = 'table-win_balls-euromillions' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ result.completeDraw.ball3 }}</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                                    {% if result.userCommonBallsArray is defined %}
                                        {% if result.completeDraw.ball4 in result.userCommonBallsArray %}
                                            {% set classWinloose = 'table-win_balls-euromillions' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ result.completeDraw.ball4 }}</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                    {% set classWinloose = 'table-loose_balls-euromillions' %}
                                    {% if result.userCommonBallsArray is defined %}
                                        {% if result.completeDraw.ball5 in result.userCommonBallsArray %}
                                            {% set classWinloose = 'table-win_balls-euromillions' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ result.completeDraw.ball5 }}</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                    {% set classWinloose = 'table-loose_stars' %}
                                    {% if result.userCommonStarsArray is defined %}
                                        {% if result.completeDraw.star1 in result.userCommonStarsArray %}
                                            {% set classWinloose = 'table-win_stars' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ result.completeDraw.star1 }}</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                    {% set classWinloose = 'table-loose_stars' %}
                                    {% if result.userCommonStarsArray is defined %}
                                        {% if result.completeDraw.star2 in result.userCommonStarsArray %}
                                            {% set classWinloose = 'table-win_stars' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ result.completeDraw.star2 }}</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.ascendingWinningBalls | trim('-') }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.ascendingWinningStars | trim('-') }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.numberOfWinnerInRank1InFrance }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.numberOfWinnerInRank1InEurope }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.rankReport1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="14">{{ knp_pagination_render(userSelectionResultsPagination[key]) }}</td>
                                <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"><p> Total: {{ countTheadResult }} tirages.</p></td>
                            </tr>
                        </tfoot>
                    </table>
                {% endset %}
            {% else %}
                {% set tableResults %}
                <table class="min-w-full border text-center text-sm font-light dark:border-neutral-500">
                    <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Tirage<br>n°</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Jour</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Date</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Boule<br>N°1</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Boule<br>N°2</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Boule<br>N°3</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Boule<br>N°4</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Boule<br>N°5</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Etoile<br>N°1</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Etoile<br>N°2</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Boules<br>gagnantes</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Etoiles<br>gagnantes</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Gagnants<br>au rang 1<br>en France</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Gagnants<br>au rang 1<br>en Europe</th>
                            <th scope="col" class="border-r px-6 py-4 dark:border-neutral-500">Montant<br>de la cagnotte<br>(si remporter)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in groupResult %}
                        <tr class="border-b dark:border-neutral-500">
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.id }}</td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.drawDay }}</td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.drawDate|date('d/m/Y') }}</td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball1 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball1 }}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball2 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball2 }}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball3 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball3 }}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball4 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball4 }}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                {% set classWinloose = 'table-loose_balls-euromillions' %}
                                {% if result.userCommonBallsArray is defined %}
                                    {% if result.completeDraw.ball5 in result.userCommonBallsArray %}
                                        {% set classWinloose = 'table-win_balls-euromillions' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.ball5 }}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                {% set classWinloose = 'table-loose_stars' %}
                                {% if result.userCommonStarsArray is defined %}
                                    {% if result.completeDraw.star1 in result.userCommonStarsArray %}
                                        {% set classWinloose = 'table-win_stars' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.star1 }}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                {% set classWinloose = 'table-loose_stars' %}
                                {% if result.userCommonStarsArray is defined %}
                                    {% if result.completeDraw.star2 in result.userCommonStarsArray %}
                                        {% set classWinloose = 'table-win_stars' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ result.completeDraw.star2 }}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.ascendingWinningBalls | trim('-') }}</td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.ascendingWinningStars | trim('-') }}</td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.numberOfWinnerInRank1InFrance }}</td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.numberOfWinnerInRank1InEurope }}</td>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ result.completeDraw.rankReport1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"><p> Total: {{ countTheadResult }} tirages.</p></td>
                        </tr>
                    </tfoot>
                </table>
            {% endset %}
            {% endif %}
            {% if countBalls is defined and countStars is defined %}
                {% set href %}
                    href="#tabs-for{{ key }}"
                {% endset %}
                {% set dTarget %}
                    data-te-target="#tabs-for{{ key }}"
                {% endset %}
                {% set aControls %}
                    aria-controls="tabs-for{{ key }}"
                {% endset %}
                {% set divId %}
                    id="tabs-for{{ key }}"
                {% endset %}
                {% set ariaLabel %}
                    aria-labelledby="tabs-for{{ key }}-tab"
                {% endset %}
                {% if groupLi is empty %}
                    {% set linkRef %}
                        {{ href }}
                        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        data-te-nav-active
                        role="tab"
                        {{ aControls }}
                        aria-selected="true"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                        data-te-tab-active
                    {% endset %}
                {% else %}
                    {% set linkRef %}
                        {{ href }}
                        class="focus:border-transparent my-2 block border-x-0 border-b-2 border-t-0 border-transparent pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        role="tab"
                        {{ aControls }}
                        aria-selected="false"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                    {% endset %}
                {% endif %}
                {% set liLink %}
                    <li role="presentation" class="m-6 flex-grow basis-0 text-center leading-tight text-neutral-800 dark:text-neutral-50 bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <a {{ linkRef }}>
                            <div class="mx-auto w-fit text-xl leading-tight text-neutral-800 dark:text-neutral-50">
                                {{ liP }}
                            </div>
                        </a>
                    </li>
                {% endset %}
                {% set grDiv %}
                    <div {{ divRef }}>
                        {{ tableResults }}
                    </div>
                {% endset %}
            {% elseif countBalls is defined and countStars is not defined %}
                {% set href %}
                    href="#tabs-for{{ key }}"
                {% endset %}
                {% set dTarget %}
                    data-te-target="#tabs-for{{ key }}"
                {% endset %}
                {% set aControls %}
                    aria-controls="tabs-for{{ key }}"
                {% endset %}
                {% set divId %}
                    id="tabs-for{{ key }}"
                {% endset %}
                {% set ariaLabel %}
                    aria-labelledby="tabs-for{{ key }}-tab"
                {% endset %}
                {% if groupLi is empty %}
                    {% set linkRef %}
                        {{ href }}
                        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        data-te-nav-active
                        role="tab"
                        {{ aControls }}
                        aria-selected="true"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                        data-te-tab-active
                    {% endset %}
                {% else %}
                    {% set linkRef %}
                        {{ href }}
                        class="focus:border-transparent my-2 block border-x-0 border-b-2 border-t-0 border-transparent pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        role="tab"
                        {{ aControls }}
                        aria-selected="false"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                    {% endset %}
                {% endif %}
                {% set liLink %}
                    <li role="presentation" class="m-6 flex-grow basis-0 text-center leading-tight text-neutral-800 dark:text-neutral-50 bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <a {{ linkRef }}>
                            <div class="mx-auto w-fit text-xl leading-tight text-neutral-800 dark:text-neutral-50">
                                {{ liP }}
                            </div>
                        </a>
                    </li>
                {% endset %}
                {% set grDiv %}
                    <div {{ divRef }}>
                        {{ tableResults }}
                    </div>
                {% endset %}
            {% elseif countBalls is not defined and countStars is defined %}
                {% set href %}
                    href="#tabs-for{{ key }}"
                {% endset %}
                {% set dTarget %}
                    data-te-target="#tabs-for{{ key }}"
                {% endset %}
                {% set aControls %}
                    aria-controls="tabs-for{{ key }}"
                {% endset %}
                {% set divId %}
                    id="tabs-for{{ key }}"
                {% endset %}
                {% set ariaLabel %}
                    aria-labelledby="tabs-for{{ key }}-tab"
                {% endset %}
                {% if groupLi is empty %}
                    {% set linkRef %}
                        {{ href }}
                        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        data-te-nav-active
                        role="tab"
                        {{ aControls }}
                        aria-selected="true"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                        data-te-tab-active
                    {% endset %}
                {% else %}
                    {% set linkRef %}
                        {{ href }}
                        class="focus:border-transparent my-2 block border-x-0 border-b-2 border-t-0 border-transparent pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                        data-te-toggle="pill"
                        {{ dTarget }}
                        role="tab"
                        {{ aControls }}
                        aria-selected="false"
                    {% endset %}
                    {% set divRef %}
                        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                        {{ divId }}
                        role="tabpanel"
                        {{ ariaLabel }}
                    {% endset %}
                {% endif %}
                {% set liLink %}
                    <li role="presentation" class="m-6 flex-grow basis-0 text-center leading-tight text-neutral-800 dark:text-neutral-50 bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <a {{ linkRef }}>
                            <div class="mx-auto w-fit text-xl leading-tight text-neutral-800 dark:text-neutral-50">
                                {{ liP }}
                            </div>
                        </a>
                    </li>
                {% endset %}
                {% set grDiv %}
                    <div {{ divRef }}>
                        {{ tableResults }}
                    </div>
                {% endset %}
            {% endif %}
            {% set resultsCount = groupResult|length %}

            {% set groupLi = groupLi|merge([liLink]) %}
            {% set groupDiv = groupDiv|merge([grDiv]) %}
        {% endfor %}
        <section class="flex flex-wrap justify-center">
            <ul
                class="mb-5 flex list-none flex-row flex-wrap justify-center border-b-0 pl-0"
                role="tablist"
                data-te-nav-ref
            >
                {% for li in groupLi %}
                    {{ li }}
                {% endfor %}
            </ul>
            <div class="mb-6 w-max">
                {% for div in groupDiv %}
                    {{ div }}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
