{% extends 'base.html.twig' %}

{% block title %}Résultats de votre grille Euromillions - CJPG?{% endblock %}

{% block body %}
    <main style="display: flex; flex-wrap: wrap; justify-content: center">
        <div class="user_selection" id="user_selection-euromillionsCard">
            <h2>votre sélection euromillions</h2>
            <div class="user_selection-numbers" id="user_selection-euromillions">
                {% if userSelection.ballsSelectionEuromillions is defined %}
                    {% for ballSelection in userSelection.ballsSelectionEuromillions %}
                        <div class="wins_balls-euromillions"><p>{{ ballSelection }}</p></div>
                    {% endfor %}
                {% endif %}
                {% if userSelection.starsSelection is defined %}
                    {% for starSelection in userSelection.starsSelection %}
                        <div class="table-win_stars"><p>{{ starSelection }}</p></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <table class="userResultTable" id="userResultTable-euromillions">
            <thead>
                <tr>
                    <th>Tirage n°</th>
                    <th>Jour</th>
                    <th>Date</th>
                    <th>Boule N°1</th>
                    <th>Boule N°2</th>
                    <th>Boule N°3</th>
                    <th>Boule N°4</th>
                    <th>Boule N°5</th>
                    <th>Etoile N°1</th>
                    <th>Etoile N°2</th>
                    <th>Boules gagnantes</th>
                    <th>Etoiles gagnantes</th>
                    <th>Gagnants au rang 1 en France</th>
                    <th>Gagnants au rang 1 en Europe</th>
                    <th>Montant de la cagnotte (si remporter)</th>
                </tr>
            </thead>
            <tbody>
                {% for key, groupResult in userSelectionResults %}
                    {% set countTheadResult = groupResult|length %}
                    {% set divBall %}
                        <div class="table_icon-ball-euromillions"></div>
                    {% endset %}
                    {% set divStar %}
                        <div class="table_icon-star"></div>
                    {% endset %}
                    <tr class="euromillions-resultTitleRow">
                        {% if key|length == 9 %}
                            {% set countBalls = key|slice(6, 1) %}
                            {% set countStars = key|slice(8, 1) %}
                            <th colspan="15">
                                <div>
                                    <p>{{ countTheadResult }} tirages avec {{ countBalls }} {{ divBall }} + {{ countStars }} {{ divStar }}</p>
                                </div>
                            </th>
                        {% elseif key|length == 7 %}
                            {% set countBalls = key|slice(6, 1) %}
                            <th colspan="15">
                                <div>
                                    <p>{{ countTheadResult }} tirages avec {{ countBalls }} {{ divBall }}</p>
                                </div>
                            </th>
                        {% else %}
                            {% set countStars = key|slice(7, 1) %}
                            <th colspan="15">
                                <div>
                                    <p>{{ countTheadResult }} tirages avec {{ countStars }} {{ divStar }}</p>
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                    {% for result in groupResult %}
                        <tr>
                            <td>{{ result.completeDraw.id }}</td>
                            <td>{{ result.completeDraw.drawDay }}</td>
                            <td>{{ result.completeDraw.drawDate }}</td>
                            <td>{{ result.completeDraw.ball1 }}</td>
                            <td>{{ result.completeDraw.ball2 }}</td>
                            <td>{{ result.completeDraw.ball3 }}</td>
                            <td>{{ result.completeDraw.ball4 }}</td>
                            <td>{{ result.completeDraw.ball5 }}</td>
                            <td>{{ result.completeDraw.star1 }}</td>
                            <td>{{ result.completeDraw.star2 }}</td>
                            <td>{{ result.completeDraw.ascendingWinningBalls | trim('-') }}</td>
                            <td>{{ result.completeDraw.ascendingWinningStars | trim('-') }}</td>
                            <td>{{ result.completeDraw.numberOfWinnerInRank1InFrance }}</td>
                            <td>{{ result.completeDraw.numberOfWinnerInRank1InEurope }}</td>
                            <td>{{ result.completeDraw.rankReport1 }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
